body {
    color: #ffffff;
    background-color: #111115;
    font-family: cursive;
}

.subtitle {
    color: springgreen;
    border: 2px solid white;
    padding: 20px;
    margin: auto;
    width: 300px;
}

#name { font-size: 40px; color: lightgreen; }
.html-link { color: lavender; }
.fact { color: palegreen; }
.colorButton { text-align: center;}