body {
    color: #ffffff;
    background-color: #111115;
    font-family: cursive;
}

.subtitle {
    color: springgreen;
    border: 2px solid white;
    padding: 20px;
}

#page-title { font-size: 40px; color: lightgreen; }
.html-link { color: lavender; }